@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');* 
* {
    padding: 0;
    margin: 0;
  }
  *:focus {
    outline: 0 !important;
}
.btn:focus{
    outline: none;
    box-shadow: none;
}
input[type=button] {
    outline: none !important;
    box-shadow: none !important;
}
  
  body {
    padding: 0;
    margin: 0;
  }
  /* NaBar */
  
  :root {
    --font-oswald: "Oswald", serif;
    --font-dmsans: "DM Sans", serif;
    --font16: 16px;
    --font18: 18px;
    --font20: 20px;
    --font24: 24px;
    --font28: 28px;
    --font30: 30px;
    --font32: 32px;
    --font36: 36px;
    --font38: 38px;
    --font40: 40px;
    --font48: 48px;
    --font58: 58px;
    --font64: 64px;
    --font72: 72px;
    --pink: #e27670;
    --gray54: #545454;
    --grayAA: #aaaaaa;
    --grayBB: #bbbbbb;
    --dark23: #232323;
    --light-blue: #292e32;
    --white: #fff;
    --py100: 100px 0;
    --py80: 80px 0;
    --py60: 60px 0;
    --py64: 64px 0;
    --py40: 40px 0;
    --py30: 30px 0;
    --py24: 24px 0;
    --mb16: 16px;
    --mb8: 8px;
  }

  .page-heading {
    background-color: #f2f6f8;
    padding: var(--py100);
    position: relative;
    z-index: 10;
  }
  .page-heading .page-info h1 {
    text-align: center;
    font-family: var(--font-oswald);
    font-size: var(--font48);
    font-weight: 500;
    line-height: 71.14px;
    margin-bottom: 32px;
    color: var(--dark23);
    text-transform: uppercase;
  }
  .page-heading .page-info a {
    font-family: var(--font-dmsans);
    font-size: var(--font20);
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    color: #232323;
    text-transform: uppercase;
  }
  .page-heading .page-info p {
    font-family: var(--font-dmsans);
    font-size: var(--font20);
    font-weight: 500;
    line-height: 28px;
    color: var(--pink);
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .page-heading .page-info p img {
    padding: 0px 12px;
  }
  .blog-line-art::before {
    font-family: var(--font-oswald);
    content: "case study";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 128px;
    text-align: center;
    line-height: 189.7px;
    text-transform: uppercase;
    color: #f2f6f8;
    z-index: -2;
    font-weight: 500;
    top: 0;
    right: 0;
    left: 0;
    bottom: 86px;
    -webkit-text-stroke: 1px #dddddd;
  }


  .client{
    padding-top: 0;
    padding-bottom: 100px;
    background-color: #f2f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.client-content h3{
    text-transform: uppercase;
    font-size: var(--font48);
    font-family: var(--font-oswald);
    font-weight: 500;
    color: var(--dark23);
}
.client-content h3 span{
    color: var(--pink);
}

.case-study-content h4{
    font-family: var(--font-dmsans);
    font-weight: 600;
    color: var(--pink);
    font-size: 18px;
    margin-bottom: 4px;
    text-transform: uppercase;
}
.case-study-content p{
    font-family: var(--font-oswald);
    color: var(--dark23);
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.case-study-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.case-study-video-insights{
    padding: 12px 20px;
    position: absolute;
    bottom: 16px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(50px);
    display: flex;
    width: 94%;
    border-radius: 8px;
    background-color: #fff;
    justify-content: space-between;
}
.case-study-video-insights-details h3{
    font-family: var(--font-dmsans);
    font-weight: 600;
    color: var(--pink);
    font-size: 15px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.case-study-video-insights-details h4{
    font-family: var(--font-oswald);
    font-weight: 600;
    color: var(--dark23);
    font-size: 28px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.influencer-card{
    display: flex;
    gap: 32px 0px;
}
  .influence-work-content h3{
    text-transform: uppercase;
    font-size: var(--font48);
    font-family: var(--font-oswald);
    font-weight: 600;
    color: var(--dark23);
}
.influence-banner{
    padding-top: 0;
    padding-bottom: 100px;
    background-color: var(--bgcolor);
    width: 100%;
}
.influence-banner-content{
    background-color: var(--dark23);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 86px 140px;
    position: relative;
    border-radius: 12px;
}
.influence-banner-content h3{
    font-family: var(--font-oswald);
    font-weight: 600;
    color: #fff;
    font-size: 32px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.influence-banner-content h3 span{
    color: var(--pink);
}
.influence-banner-content button{
    background-color: var(--pink);
    padding: 12px 28px;
    border: none;
    font-family: var(--font-oswald);
    border-radius: 64px;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark23);
    margin-bottom: 0px;
    width: 116px;
}
.influence-banner-content .left-bg{
    position: absolute;
    left: 0;
    top: 0;
}
.influence-banner-content .right-bg{
    position: absolute;
    right: 0;
    bottom:  0;
}
.influence-banner .container, .influence-banner-content {
    overflow: hidden;
}
@media (1024px <=width <=1399px){
        /* influencer work */
        .influence-work-content h3{
            font-size: 32px;
        }
        .case-study-video-insights{
            padding: 8px 12px;
        }
        .case-study-video-insights-details h3{
            font-size: 14px;
        }
        .case-study-video-insights-details h4{
            font-size: 16px;
        }
        /* influence-banner */
        .influence-banner-content{
            padding: 56px 110px;
            display: flex;
            flex-direction: column;
        }
        .influence-banner-content h3{
            font-size: 32px;
            margin-bottom: 16px;
            text-align: center;
        }
        .influence-banner-content h3 br{
            display: none;
        }
        .influence-banner-content .left-bg{
            left: -35px;
        }
        .influence-banner-content .right-bg{
            right: -20px;
            top: 40px;
        }
}
@media (768px <=width <=1023px){
    .client{
        padding-top: 0;
        padding-bottom: 64px;
    }
    .case-study-content p{
        font-size: 22px;
    }
    .case-study-video-insights-details h3{
        font-size: 7px;
    }
    .case-study-video-insights-details h4{
        font-size: 16px;
    }
    .case-study-video-insights{
        padding: 6px 10px;
    }
    .influencer-card{
        display: flex;
        gap: 32px 0px;
    }
    .influence-banner-content{
        padding: 56px 110px;
        display: flex;
        flex-direction: column;
    }
    .influence-banner-content h3{
        font-size: 24px;
        margin-bottom: 16px;
        text-align: center;
    }
    .influence-banner-content h3 br{
        display: none;
    }
    .influence-banner-content .left-bg{
        left: -93px;
    }
    .influence-banner-content .right-bg{
        right: -70px;
        top: 40px;
    }
}
@media (320px <=width <=767px){
    .page-heading{
        padding: 40px 0;
    }
    .page-heading .page-info h1{
        font-size: 40px;
    }
    .page-heading .page-info a{
        font-size: 18px;
    }
    .page-heading .page-info p{
        margin: 0;
    }
    .blog-line-art::before{
        margin-top: 16px;
        font-size: 68px;
    }

    .client{
        padding: 0;
    }
        /* influence-work */
        .influence-work{
            padding-bottom: 32px;
        }
        .influence-work-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 32px;
        }
        .influence-work-content h3{
            font-size: 32px;
            margin-bottom: 16px;
        }
        .influence-work-content button{
            margin-bottom: 0;
        }
        .case-study-video-insights{
            width: 95%;
        }
        .case-study-content h4{
            font-size: 18px;
        }
        .case-study-content p{
            font-size: 24px;
        }
        .case-study-video-insights{
            padding: 8px 12px;
            width: 95%;
        }
        .case-study-video-insights-details h4{
            font-size: 14px;
        }
        .case-study-video-insights-details h3{
            font-size: 9px;
        }
        /* influence-banner */
        .influence-banner{
            padding: 32px 0;
        }
        .influence-banner-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 80px 40px;
        }
        .influence-banner-content h3 br{
            display: none;
        }
        .influence-banner-content h3{
           font-size: 24px; 
           text-align: center;
           margin-bottom: 16px;
           line-height: 35px;
        }
        .influence-banner-content .left-bg{
            left: -93px;
        }
        .influence-banner-content .right-bg{
            right: -70px;
            top: 150px;
        }
}