* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}
/* NaBar */
:root {
  --font-oswald: "Oswald", serif;
  --font-raleway: "Raleway", serif;
  --font16: 16px;
  --font18: 18px;
  --font20: 20px;
  --font24: 24px;
  --font28: 28px;
  --font30: 30px;
  --font32: 32px;
  --font36: 36px;
  --font38: 38px;
  --font40: 40px;
  --font48: 48px;
  --font58: 58px;
  --font64: 64px;
  --font72: 72px;
  --pink: #e27670;
  --gray54: #545454;
  --grayAA: #aaaaaa;
  --grayBB: #bbbbbb;
  --dark23: #232323;
  --light-blue: #292e32;
  --white: #fff;
  --py100: 100px 0;
  --py80: 80px 0;
  --py60: 60px 0;
  --py64: 64px 0;
  --py40: 40px 0;
  --py30: 30px 0;
  --py24: 24px 0;
  --mb16: 16px;
  --mb8: 8px;
}

/* ############################### NavBar ############################### */

.navbar {
  display: flex;
  align-items: center;
  padding: 14px 0;
  background-color: var(--white);
}
.navbar .nav-link {
  font-size: var(--font20);
  font-weight: 600;
  font-family: var(--font-oswald);
  line-height: 30px;
  color: var(--dark23);
  padding-left: 48px !important;
}
.navbar .nav-btn {
  background-color: var(--pink);
  font-size: var(--font18);
  font-family: var(--font-oswald);
  line-height: 26.68px;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 63px;
  color: var(--dark23);
  margin-left: 48px !important;
}
/*  hamburger icon */
.navbar-toggler {
  border: 2px solid #ccc;
}
.navbar-toggler-icon {
  border: 2px solid var(--dark23);
  background-color: #ccc;
  border-radius: 5px;
}
/*  */
/* Hamburger styles */
/* Hamburger Icon Styles */
.hamburger-lines {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
}

.hamburger-lines .line {
  height: 3px;
  width: 100%;
  background: #000;
  transition: all 0.3s ease;
}

.hamburger-lines.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-lines.active .line2 {
  opacity: 0;
}

.hamburger-lines.active .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Side Navigation Styles */
.side-nav {
  position: fixed;
  top: 0;
  left: -100%; /* Initially hide the sidebar off-screen */
  width: 75%;
  height: 100%;
  background: #fff;
  transition: left 0.3s ease;
  z-index: 999;
  padding: 20px;
}

.side-nav ul {
  list-style: none;
  padding: 20px 0;
}

.side-nav ul li {
  margin-bottom: 20px;
}

.side-nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.side-nav ul li .nav-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Body styles when side-nav is open */
body.side-nav-open {
  overflow: hidden; /* Prevent scrolling when the side nav is open */
}

/* ############################### Footer ############################### */
.footer-section {
  background-color: var(--dark23);
  padding: var(--py100);
}
.footer-section .footer-info {
  font-family: var(--font-raleway);
  color: var(--grayAA);
  font-weight: 500;
  font-size: var(--font18);
  line-height: 28px;
  padding: var(--py24);
  margin: 0;
}
.footer-links-col h2,
.footer-contact-col h2 {
  color: var(--white);
  font-family: var(--font-oswald);
  font-size: var(--font28);
  font-weight: 600;
  line-height: 41.5px;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 24px;
}
.footer-links-col ul,
.footer-contact-col ul {
  padding: 0;
}
.footer-links-col ul li,
.footer-contact-col ul li {
  padding-bottom: 24px;
}
.footer-links-col ul li a {
  text-decoration: none;
  font-family: var(--font-raleway);
  font-size: var(--font18);
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: var(--grayBB);
}
.footer-contact-col ul li a {
  text-decoration: none;
  font-family: var(--font-oswald);
  font-size: var(--font18);
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: var(--grayBB);
}
.footer-section .social-icon {
  padding-right: 10px;
}
.contact-footer-icon {
  width: 20px;
  /* padding-right: 10px; */
}
.logo-footer-col ul {
  padding: 0;
  text-decoration: none;
}
.logo-footer-col ul li {
  list-style-type: none;
}
.logo-footer-col ul li a img {
  padding-right: 10px;
  padding-left: 0;
}
/*  */
/* Hamburger styles */
.hamburger-lines {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
}

.hamburger-lines .line {
  height: 3px;
  width: 100%;
  background: #000;
  transition: all 0.3s;
}

.hamburger-lines.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-lines.active .line2 {
  opacity: 0;
}

.hamburger-lines.active .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Side navigation styles */
.side-nav {
  position: fixed;
  padding: 20px 16px;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background: #fff;
  transition: left 0.3s ease;
  z-index: 999;
}

.side-nav ul {
  list-style: none;
  padding: 20px;
  text-align: center;
}

.side-nav ul li {
  margin-bottom: 20px;
  font-size: var(--font20);
  font-weight: 600;
  font-family: var(--font-oswald);
  line-height: 30px;
  color: var(--dark23);
  padding-left: 48px !important;
}

.side-nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.side-nav ul li .nav-btn {
  background-color: var(--pink);
  font-size: var(--font18);
  font-family: var(--font-oswald);
  line-height: 26.68px;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 63px;
  color: var(--dark23);
}
/* Body styles when side-nav is open */
.side-nav.open {
  left: 0; /* Show the sidebar */
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.6); /* Add shadow */
}

body.side-nav-open {
  overflow: hidden; /* Prevent scrolling when the side nav is open */
}
body.side-nav-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 998;
}

/* ############################### Contact Us ############################### */
.page-heading {
  background-color: #f2f6f8;
  padding: var(--py100);
  position: relative;
  z-index: 10;
}
.page-heading .page-info h1 {
  text-align: center;
  font-family: var(--font-oswald);
  font-size: var(--font48);
  font-weight: 500;
  line-height: 71.14px;
  margin-bottom: 32px;
  color: var(--dark23);
  text-transform: uppercase;
}
.page-heading .page-info a {
  font-family: var(--font-raleway);
  font-size: var(--font20);
  font-weight: 500;
  line-height: 28px;
  text-decoration: none;
  color: #232323;
  text-transform: uppercase;
}
.page-heading .page-info p {
  font-family: var(--font-raleway);
  font-size: var(--font20);
  font-weight: 500;
  line-height: 28px;
  color: var(--pink);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  display: flex;
}
.page-heading .page-info p img {
  padding: 0px 12px;
}
.blog-line-art::before {
  font-family: var(--font-oswald);
  content: "Contact Us";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 128px;
  text-align: center;
  line-height: 189.7px;
  text-transform: uppercase;
  color: #f2f6f8;
  z-index: -2;
  font-weight: 500;
  top: 0;
  right: 0;
  left: 0;
  bottom: 86px;
  -webkit-text-stroke: 1px #dddddd;
}
.get-in-touch {
  padding-bottom: 100px;
  background-color: #f2f6f8;
}
.get-in-touch-text-header h2 {
  font-family: var(--font-oswald);
  font-size: var(--font48);
  font-weight: 500;
  line-height: 71.14px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 16px;
  margin: 0;
}
.get-in-touch-text-header p {
  font-family: var(--font-raleway);
  font-size: var(--font20);
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}
.get-in-touch-text-body .adderss,
.get-in-touch-text-body .email,
.get-in-touch-text-body .phone {
  display: flex;
  padding-bottom: 24px;
}
.get-in-touch-text-body .adderss h4,
.get-in-touch-text-body .email h4,
.get-in-touch-text-body .phone h4 {
  font-family: var(--font-oswald);
  font-size: var(--font28);
  font-weight: 500;
  line-height: 41.5px;
  text-align: left;
  text-transform: uppercase;
  color: var(--dark23);
}
.get-in-touch-text-body .adderss h6,
.get-in-touch-text-body .email h6,
.get-in-touch-text-body .phone h6 {
  font-family: var(--font-raleway);
  font-size: var(--font18);
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #292e32;
}
.get-in-touch-text-body .adderss .adderss-text,
.get-in-touch-text-body .email .email-text,
.get-in-touch-text-body .phone .phone-text {
  padding-left: 16px;
}
.get-in-touch-text-header span {
  color: var(--pink);
}
.get-in-touch-card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 32px;
}
.get-in-touch-card .form-items {
  width: 100%;
  padding-bottom: 16px;
}
.get-in-touch-card .form-items label {
  display: block;
  font-family: var(--font-oswald);
  font-size: var(--font20);
  font-weight: 500;
  line-height: 29.64px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 8px;
  text-decoration-skip-ink: none;
  color: var(--dark23);
}
.get-in-touch-card .form-items input,
textarea {
  font-family: var(--font-raleway);
  padding: 16px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.44px;
  text-align: left;
  color: #292e32;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}
.get-in-touch-card button {
  background-color: var(--pink);
  font-family: var(--font-oswald);
  font-size: var(--font18);
  font-weight: 600;
  line-height: 26.68px;
  text-align: center;
  padding: 12px 28px;
  border-radius: 63px;
  outline: none;
}
.loading-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /*  Initially hide the loading effect   */
}
.iti--inline-dropdown {
  display: block;
}
.loading-effect .loader {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 2000;
}

.loading-effect .loader img {
  height: 100px;
}

/* ############################### Responsive ############################### */

@media (1440px <=width <=1600px) {
}

@media (1200px <=width <=1439px) {
}

@media (1024px <=width <=1199px) {
}

@media (768px <=width <=1023px) {
}

@media (568px <=width <=767px) {
}

@media (480px <=width <=567px) {
}

@media (320px <=width <=479px) {
}
@media screen and (max-width: 991px) {
  .navbar .nav-link {
    padding-left: 0 !important;
  }
  .navbar .nav-btn {
    margin: 0 !important;
  }
  .hamburger-lines {
    display: flex;
  }

  .navbar-collapse {
    display: none;
  }
}
@media (min-width: 992px) {
  .side-nav {
    display: none;
  }
}
